<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="print_bg" style="width: 873px; height: 491px; z-index: 1; border: 1px solid rgb(255, 255, 255); padding: 0px; position: relative; margin: 0px;">
    <div id="t_shop_address" style="width: 235px; height: 48px; border: 0px; padding: 0px; margin: 0px auto; position: absolute; top: 142px; left: 121px; word-break: break-all; text-align: left;"></div>
    <div id="t_shop_name" style="width: 237px; height: 26px; border: 0px; padding: 0px; margin: 0px auto; position: absolute; top: 190px; left: 121px; word-break: break-all; text-align: left;">ECSHOP</div>
    <div id="t_shop_tel" style="width: 96px; height: 36px; border: 0px; padding: 0px; margin: 0px auto; position: absolute; top: 247px; left: 134px; word-break: break-all; text-align: left;"></div>
    <div id="t_customer_post" style="width: 86px; height: 23px; border: 0px; padding: 0px; margin: 0px auto; position: absolute; top: 258px; left: 568px; word-break: break-all; text-align: left;"></div>
    <div id="t_customer_address" style="width: 232px; height: 49px; border: 0px; padding: 0px; margin: 0px auto; position: absolute; top: 139px; left: 424px; word-break: break-all; text-align: left;">海兴大厦</div>
    <div id="t_customer_name" style="width: 151px; height: 27px; border: 0px; padding: 0px; margin: 0px auto; position: absolute; top: 221px; left: 439px; word-break: break-all; text-align: left;">刘先生</div>
    <div id="t_customer_tel" style="width: 90px; height: 32px; border: 0px; padding: 0px; margin: 0px auto; position: absolute; top: 251px; left: 442px; word-break: break-all; text-align: left;">010-25851234</div>
</div>
</body>
</html>